.news-events-slider {
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
    margin-top: 40px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
  }
  
  .news-event-item {
    background: #111;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .news-event-item:hover {
    transform: scale(1.05);
  }
  
  .news-event-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .news-event-title {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .read-more {
    color: red;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .arrow {
    background: red;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .arrow.left {
    left: 40px;
  }
  
  .arrow.right {
    right: 40px;
  }
  /* .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 5px;
    background: rgb(227, 227, 227);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.dot.active {
    background: red;
} */